/*
  Only a few global styles are allowed here.
*/
body {
    background-color: lightgrey !important;
    color: black !important;
}

.portrait {
    height: 100%;
    width: 100%;
    position: relative;
}

.wrapper {
    overflow: hidden;
    height: 500px;
    width: 500px;
    position: relative;
}

.wrapper img {
    position: relative;
}
